.pro img{
    width: 98%;
}

.container .select {
    width: 100%;
    position: relative;
    float: left;
}
.container .select select {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    background-color: #ffffff;
    border: solid #f73465 1px;
    color: #f73465;
    font-size: 1.2rem;
    padding: 6px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 50px;
}

.container .select::before {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .45em solid transparent;
    border-right: .45em solid transparent;
    border-top: .575em solid #f73465;
    pointer-events: none;
    z-index: 9;
}

@media only screen and (min-width: 481px) {



}


@media only screen and (min-width: 680px) {
.sub_nav{
    position: relative;
    float: left;
    padding: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
    background-color: #f73465;
    border-radius: 50px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    box-shadow: 1px 1px 10px #E43662;
}

.sub_nav li{
    display: inline-block;
    position: relative;
    padding: 15px 20px;
}

.sub_nav li a.active {
    box-shadow: inset 0 -5px #FFC7D5;
    padding-bottom: 10px;
}

.sub_nav li a{
    color: #fff;
    transition: 0.3s;
}

.sub_nav li a:hover{
    color: #FFC7D5;
}







}


@media only screen and (min-width: 769px) {

}

@media only screen and (min-width: 1220px) {

}


